{% extends "layout_fullscreen.html" %}

{% block content %}
  <div class="album py-5 bg-light">
    <div class="container text-center">
    {% if photos is defined %}
    <a type="button" class="btn btn-outline-primary" href="{{ album_index_url }}/overview">Zurück zur Übersicht</a>
    <div class="siema">
      {% for photo in photos %}
      <div><img class="img-thumbnail" src="{{ photo.thumburl }}/1024" height="100%"></div>
      {% endfor %}
    </div>
    {% else %}
    <div class="img-thumbnail text-muted text-center">
      Bisher wurden noch keine Fotos hochgeladen.<br/>Neue Fotos kannst du <a href="{{ album_index_url }}">hier hochladen!</a>
    </div>
    <hr>
    <a type="button" class="btn btn-outline-primary" href="{{ album_index_url }}/overview">Zurück zur Übersicht</a>
    {% endif %}
    </div>
  </div>
{% endblock %}

{% block script %}
  <script type="text/javascript">
    const mySiema = new Siema({
      selector: '.siema',
      duration: 200,
      easing: 'ease-out',
      perPage: 1,
      {% if start_index is defined %}startIndex: {{ start_index }},{% else %}startIndex: 0,{% endif %}
      draggable: true,
      multipleDrag: true,
      threshold: 20,
      loop: false,
      rtl: false,
      onInit: () => {},
      onChange: () => {},
    });

    //var intervalID = setInterval(nextSlide, 6000);

    document.addEventListener('keypress', (event) => {
      if(event.key == "ArrowRight"){
        nextSlide();
      }else if(event.key == "ArrowLeft"){
        prevSlide();
      };
    });

    function nextSlide() {
      mySiema.next();
    }
    function prevSlide() {
      mySiema.prev();
    }
  </script>
{% endblock %}
