{% extends "layout.html" %}

{% block content %}
      <section class="jumbotron text-center">
        <div class="container">
          <h2 class="jumbotron-heading">Album: {{ album_name }}</h2>
          <p class="text-center">
            Access code: {{ album_accesscode }}<br/>
            <a class="btn btn-primary my-2" href="mailto:?subject={{ share_link_subject }}&body={{ share_link_body }}">Share via mail <span class="fas fa-share-square"></span></a>
          </p>
          <p class="lead text-center">Ihr wollt eure frisch geschossenen Fotos direkt hier auf dem Bildschirm sehen?<br/> Dann ladet sie direkt hier hoch! Es ist auch ganz einfach ;)</p>
          <div id="dropzone">
            <form action="{{ photo_upload_url }}" id="partyUpload" class="dropzone needsclick">
              {% if album_id is defined %}<input type="hidden" name="albumid" value="{{ album_id }}">{% endif %}
              <div class="dz-message needsclick">
                Fotos hochladen!
              </div>
            </form>
          </div>
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">
          <!-- Register for photo retrieval -->
          <p class="lead text-center">Du möchtest nach der Party alle Fotos haben?<br/> Kein Problem, einfach hier deine E-Mail-Adresse eintragen, und du bekommst bald einen Download-Link zugeschickt!</p>
          <hr class="my-4">
          <form action="{{ register_subscription_url }}" method="post" id="mailSendForm" target="hiddenFrame" class="hasSubmitButton">
            <div class="form-group">
              {% if album_id is defined %}<input type="hidden" name="albumid" value="{{ album_id }}">{% endif %}
              <label for="inputEmail">E-Mail-Adresse</label>
              <input type="email" class="form-control" id="inputEmail" name="mailaddress" aria-describedby="emailHelp" placeholder="Gebe hier deine E-Mail-Adresse ein">
              <small id="emailHelp" class="form-text text-muted">Deine E-Mail-Adresse bleibt natürlich unter uns. Ich benutze sie nur um dir den Download-Link zuzuschicken.</small>
            </div>
            <button type="submit" class="btn btn-primary" id="submitButton">Abschicken</button><br />
          </form>
          <iframe name="hiddenFrame" class="hide"></iframe>
        </div>
      </div>
      <div class="album py-5 bg-white">
        <div class="container">
          <table class="table">
            <tbody class="thead-light">
              <tr>
                <td>Access code</td>
                <td>{{ album_accesscode }}</td>
              </tr>
              <tr>
                <td>Date created</td>
                <td>{{ album_created }}</td>
              </tr>
              <tr>
                <td>Number of files</td>
                <td>{{ album_amount_photos }}</td>
              </tr>
              <tr>
                <td>Number of subscriptions</td>
                <td>{{ album_amount_subscriptions }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

{% endblock %}
