{% extends "layout.html" %}

{% block content %}
      <section class="jumbotron text-center">
        <div class="container">
          <h2 class="jumbotron-heading">Falscher Album-Code</h2>
          <p class="lead text-center">Sorry, aber das ist kein gültiger Album-Code!</p>
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">
          <!-- Register for photo retrieval -->
          <p class="lead text-center">
            Du hast dich bestimmt nur vertippt, probiere es noch einmal!<br/>
            <a href="/"><button class="btn btn-primary">Zurück</button></a>
          </p>
        </div>
      </div>

{% endblock %}
