{% extends "layout.html" %}

{% block content %}
      <section class="jumbotron text-center">
        <div class="container">
          <h2 class="jumbotron-heading">This album does not exist (anymore)</h2>
          <p class="lead text-center">We're very sorry for that.</p>
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">
          <!-- Register for photo retrieval -->
          <p class="lead text-center">
            Maybe you wish to create a new one?<br/>
            <a href="/admin"><button class="btn btn-primary">Back To Administration</button></a>
          </p>
        </div>
      </div>

{% endblock %}
